@charset "utf-8";

@import 'shadcn-ui.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gmail: 4 87% 59%;
    --linked-in: 199 92% 37%;
    --whats-app: 131 68% 47%;
  }

  * {
    @apply font-jet-brains-mono;
  }

  .border-divider {
    @apply border-b border-dashed border-border;
  }
}

#cursor-dot:before {
  content: '';
}
